/* 
RESET STYLES
 */

:root {
    --bg_main: #0a1f44;
    --text_light: #fff;
    --text_med: #53627c;
    --text_dark: #1e2432;
    --red: #ff1e42;
    --darkred: #c3112d;
    --orange: #ff8c00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

input {
    -webkit-appearance: none;
}

button,
input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}


/*-----styling------*/

body {
    font: 1rem/1.3 "Roboto", sans-serif;
    background: var(--bg_main);
    color: var(--text_light);
    padding: 50px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.top-banner {
    color: var(--text_light)
}

.top-banner h1 {
    font-weight: bold;
    font-size: 3.4rem;
    letter-spacing: 0.02em;
    padding: 0 0 30px 0;
}

.top-banner form {
    position: relative;
    display: flex;
    align-items: center;
}

.top-banner form input {
    height: 40px;
    font-size: 2rem;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
}

.top-banner button {
    font-weight: bold;
    margin-left: 15px;
    font-size: 1rem;
    letter-spacing: 0.02em;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: var(--red);
    transition: background 0.3s ease-in-out;
}

.top-banner button:hover {
    background-color: var(--darkred);
}


/*------styling cities-box --------*/

.ajax-section {
    margin: 70px 0 20px;
}

.ajax-section .cities {
    display: grid;
    grid-gap: 32px 20px;
    grid-template-columns: repeat(4, 1fr);
}

.ajax-section .cities .city {
    position: relative;
    padding: 40px 10%;
    background-color: var(--text_light);
    border-radius: 20px;
    color: var(--text_dark);
}

.ajax-section .city::after {
    content: '';
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: -12px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
    background-color: var(--text_light);
    border-radius: 20px;
}

.ajax-section figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.ajax-section .city-temp {
    font-size: 5em;
    font-weight: bold;
    color: var(--text_dark);
}

.ajax-section .city-temp sup {
    font-size: 0.5em;
}

.ajax-section .city-name sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
    color: var(--text_light);
    background: var(--orange);
}

.ajax-section .city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.top-banner form .msg {
    position: absolute;
    bottom: -40px;
    left: 0;
    max-width: 450px;
    min-height: 40px;
}